/* .about-content{
    height: 450px;
    color: aliceblue;
    background-image: url('../images/about/kick_boxing.jpg');
    background-position: 900px 0 ;
    object-fit: cover;
   }
   
   .about-content-head{
    padding: 25% 3% 10% 43%;
   }
   
   .about-text{
    margin: 3% 15%;
   }
   
   .about-text-head{
    text-align: center;
    font-family: sans-serif;
    font-size: 45px;
    padding: 0% 10% 0% 10%;
   }
   
   .about-text-content{
    text-align: center;
    padding: 5% 8%;
    font-size: 17px;
    color: rgb(32, 31, 31);
   }
   
   .aboutImg{
    height: 450px;
    background-image: url('../images/about/about.jpg');
    background-position: 1500px 0 ;
    object-fit: cover;
   }
   
   .about-text2{
    background-color: black;
   }
   
   .about-text2-head{
    text-align: center;
    padding: 5%;
    font-family: sans-serif;
    color: wheat;
    font-size: 45px;
    padding: 0% 10% 0% 10%;
   }
   
   .about-text2-content{
    text-align: center;
    padding: 2% 8%;
    font-size: 20px;
    color: wheat;
   } */

@media only screen and (max-width: 360px) {
  .about-content {
    /* height: 100vh; */
    /* width: 50%; */
    /* color: aliceblue;*/
    background-image: url("../images/about/kick_boxing.jpg"); 
    background-size: 100% 100%;
    background-position: 700px 0;
    width: 100%;
    object-fit: cover;
    height: 200px;
  }

  /* .about-content-head {
    padding: 25% 3% 10% 43%;
  }

  .about-text {
    margin: 3% 15%;
  }

  .about-text-head {
    text-align: center;
    font-family: sans-serif;
    font-size: 45px;
    padding: 0% 10% 0% 10%;
  }

  .about-text-content {
    text-align: center;
    padding: 5% 8%;
    font-size: 17px;
    color: rgb(32, 31, 31);
  }

  .aboutImg {
    height: 450px;
    background-image: url("../images/about/about.jpg");
    background-position: 1500px 0;
    object-fit: cover;
  }

  .about-text2 {
    background-color: black;
  }

  .about-text2-head {
    text-align: center;
    padding: 5%;
    font-family: sans-serif;
    color: wheat;
    font-size: 45px;
    padding: 0% 10% 0% 10%;
  }

  .about-text2-content {
    text-align: center;
    padding: 2% 8%;
    font-size: 20px;
    color: wheat;
  } */
}
