.banner{
    position: relative;
}
.banner img{
    width: 100%;
    object-fit: cover;
    max-height: 550px;
}
.heading{
    position: absolute;
    top: 30%;
    left: 53%;
}
.heading p{
    font-size: 2.7em;
    color: black;
}
.heading p span{
    line-height: 90px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 2em;
    color: black;
}
.get-started button{
    position: absolute;
    top: 65%;
    left: 65%;
    border: none;
    font-size: 1.6em;
    color: white;
    background-color: rgb(38, 143, 85);
    border-radius: 20px;
    padding: 15px 60px 10px 60px;
    cursor: pointer;
}

@media only screen and (max-width: 360px){
    .heading{
        position: static;
        padding: 20px;
        text-align: center;
    }
    .heading p{
        font-size: 1.2em;
    }
    .heading p span{
        font-size: 1.33em;
        line-height: 15px;
        margin-left: 7px;
        margin-right: 4px;
    }
    .get-started{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .get-started button{
        position: static;
        font-size: 1.3em;
    }
}