.exercise-btn, .exercise-button button{
    margin: auto;
    width: 150px;
    border: 0;
    border-radius: 20px;
    background: green;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  .routine-image {
    width: 80%;
    align-content: center;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .exercise-content {
    display: flex;
    flex-direction: column;
  }
  
  .routine-description {
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .exercise-title,
  .exercise-content h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .exercise-timer, .exercise-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 360px) {
    .exercise-btn, .exercise-button button{
      margin-bottom: 20px;
    }
  
    .exercise-content img, .exercise-banner img {
      width: 100%;
      margin-top: 20px;
    }
  
    .routines-image {
      width: 90%;
      margin: 0 auto 0 auto;
    }
  
    .exercise-content {
      display: flex;
      flex-direction: column;
    }
  
    .exercise-content:last-child {
      margin-bottom: 80px;
    }
  
    .routine-description, .exercise-description  {
      margin: 30px 30px 0 30px;
    }
  
    .exercise-title,
    .exercise-content h3 {
      margin-top: 40px;
      text-align: center;
      margin-bottom: 0;
    }
  
    .exercise-content h3 {
      margin-bottom: 20px;
    }
  }
  