footer{ 
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;  
}
footer p{
    font-size: 1.1em;
    color: white;
}
footer .link{
    color: white;
    font-size: 1.2em;
    margin: 0 30px;
}

@media only screen and (max-width: 360px){
    footer{ 
        line-height: 40px;
        padding-bottom: 10px;
    }
    footer .link{
        color: white;
        font-size: 1em;
        margin: 0 15px;
    }
}