header{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* padding: 5px 0 0 0; */
    /* line-height: 50px; */
    background-color: rgba(0, 0, 0, 0.9);
}
.logo{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.logo h1{
    color: white;
    margin-left: 30px;
}
.navigation-bar-mini{
    display: none;
    color: white;
}
.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigation-bar .link{
    color: white;
    margin: 0 20px;
    font-size: 1.15em;
    padding: 5px 40px;
}
.navigation-bar .link:hover{
    background-color: rgba(236, 27, 27, 0.719);
}
.container{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 360px){
    header{
        padding: 0 20px;
    }
    .logo h1{
        margin-left: 0;
    }
    .navigation-bar{
        display: none;
    }
    .navigation-bar-mini{
        display: block;
    }
    .navigation-bar-mini i{
        font-size: 1.5em;
    }
    .w3-bar-block .w3-bar-item {
        background-color: gray;
    }
    .w3-button .w3-white{
        margin-top: 10px;
    }
    .w3-sidebar {
        height: 100%;
        width: 200px;
        background-color: #fff;
        position: fixed!important;
        left: 0;
        z-index: 1;
        overflow: auto;
    }
    .w3-bar-block .w3-bar-item {
        width: 100%;
        display: block;
        padding: 8px 16px;
        text-align: left;
        border: none;
        white-space: normal;
        float: none;
        outline: 0;
        font-size: 23px;
    }
}