.login{
    margin-top: 70px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  .signup-input:focus, .signup-input:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .signup{
    margin: 0 auto;
    width: 50%;
  }
  .signup-button{
    margin: 20px auto;
    width: 100%;
    background-color: rgb(33,150,243);
    border: none;
    color: white;
    padding: 3%;
    box-shadow: 3px 2px #888888;
  }

  .google{
    margin: 12px auto;
  }
  