@import url('https://fonts.googleapis.com/css?family=Acme|Corben|Lobster|MedievalSharp|Merienda|Righteous');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.link{
  text-decoration: none;
}
.pageNotFound{
  text-align: center;
  padding: 5% 8%;
 }
h1, h2, h3, h4{
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.extra{
  width: 70px;
  visibility: hidden;
}