.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registration button {
  position: absolute;
  border: none;
  font-size: 1.6em;
  color: white;
  background-color: rgb(38, 143, 85);
  border-radius: 20px;
  padding: 15px 60px 10px 60px;
  cursor: pointer;
}
.registration button:first-child {
  top: 45%;
  left: 65%;
}
.registration button:last-child {
  top: 65%;
  left: 65%;
}

@media only screen and (max-width: 360px) {
  .registration {
    margin: 20px 0;
  }
  .registration button {
    position: static;
    font-size: 1.3em;
    margin: 11px 0;
  }
}
